body {
  background: linear-gradient(white, lightblue);
}
#quote {
  font-style: italic;
  text-align: justify;
}
.font {
  font-family: sans-serif;
  font-size: 20px;
}
.edu {
  margin: 2px;
  padding: 2px;
}
.light {
  font-style: italic;
  color: blue;

}
.highlights {
  margin-top: 200px;
  border: 2px solid lightblue;
  padding: 10px;
  float: left;
  font-family: sans-serif;
  color: purple;
}

.highlights .light {
  color: gray;
}
