body {
  background: linear-gradient(white, lightblue);
}
#quote {
  font-style: italic;
  text-align: justify;
}
.font {
  font-family: sans-serif;
  font-size: 20px;
}
.edu {
  margin: 2px;
  padding: 2px;
}
.light{
  font-style: italic;
}
